*{
    margin: 0
    padding 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: white;
    color: black
}
#header{
    width: 100%;
    height: 100vh;
    
}
.container{
    padding: 10px 10%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative
}
nav ul li a::after{
    content:  '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 60px;
    position:absolute;left: 400px;top:-100px;
    
}
.header-text span{
    color: #ff004f;
}
/* ------------about---------- */
#about{
    padding: 2400px 0;
    color: #ababab
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 3  0%
}

body { 
    background-size: 85%;
    background-image:url(-);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center
    
    
           
  }

  .gallery{

    position:absolute ; top: 29%; left: -15px;
    width: 100%; height: auto;
}

.gallery a { display: block; }
.gallery img {
      width: 100%;
      height: auto;
      display: block;
}

.gallery {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    
  }

  .gallery a:nth-child(1) { width: 15%; height: auto; position: absolute ; top: 290px ; left: 570px ; transition: .2s linear;}
  .gallery a:nth-child(2) { width: 20%; height: auto; position: absolute ; top: 527px ; left: 933px ; transition: .2s linear;}
  .gallery a:nth-child(3) { width: 21%; height: auto; position: absolute ; top: 360px ; left: 932px ; transition: .2s linear;}
  .gallery a:nth-child(4) { width: 15%;height: auto; position: absolute ; top: 501px ; left: 142px ; transition: .2s linear;}
  .gallery a:nth-child(5) { width: 16%; height: auto; position: absolute ; top: 280px ; left: 349px ; transition: .2s linear;}
  .gallery a:nth-child(6) { width: 11%; height: auto; position: absolute ; top: 345px ; left: 779px ; transition: .2s linear;}
  .gallery a:nth-child(7) { width: 11%; height: auto; position: absolute ; top: 527px ; left: 778px ; transition: .2s linear;}
  .gallery a:nth-child(8) { width: 14%; height: auto; position: absolute ; top: 206px ; left: 155px ; transition: .2s linear;}
  .gallery a:nth-child(9) { width: 11%;height: auto; position: absolute ; top:1065px;left: 400px ; transition: .2s linear;}
  .gallery a:nth-child(10) { width: 27%; height: auto; position: absolute ; top:935px ; left: 873px ; transition: .2s linear;}
  .gallery a:nth-child(11) { width: 23%; height: auto; position: absolute ; top: 795px ; left: 555px ; transition: .2s linear;}
  .gallery a:nth-child(12) { width: 28.7%; height: auto; position: absolute ; top: 1795px ; left: 152px ; transition: .2s linear;}
  .gallery a:nth-child(13) { width: 23%; height: auto; position: absolute ; top:975px ; left: 555px ; transition: .2s linear;}
  .gallery a:nth-child(14) { width: 17%; height: auto; position: absolute ; top: 2025px ; left: 653px ; transition: .2s linear;} 
  .gallery a:nth-child(15) { width: 11%; height: auto; position: absolute ; top:795px ; left: 400px ; transition: .2s linear;}
  .gallery a:nth-child(16) { width: 17%; height: auto; position: absolute ; top: 2025px ; left: 415px ; transition: .2s linear;}
  .gallery a:nth-child(17) { width: 15%; height: auto; position: absolute ; top: 513px ; left: 356px ; transition: .2s linear;}
  .gallery a:nth-child(18) { width: 25%; height: auto; position: absolute ; top: 1795px ; left: 547px ; transition: .2s linear;} 
  .gallery a:nth-child(19) { width: 18%; height: auto; position: absolute ; top: 1532px ; left: 893px ; transition: .2s linear;}
  .gallery a:nth-child(20) { width: 9.3%; height: auto; position: absolute ; top: 655px ; left: 362px ; transition: .2s linear;}
  .gallery a:nth-child(21) { width: 23%; height: auto; position: absolute ; top: 1149px ; left: 874px ; transition: .2s linear;}
  .gallery a:nth-child(22) { width: 27%; height: auto; position: absolute ; top: 1580px ; left: 150px ; transition: .2s linear;}
  .gallery a:nth-child(23) { width: 14%; height: auto; position: absolute ; top: 653px ; left: 737px ; transition: .2s linear;}
  .gallery a:nth-child(24) { width: 15%; height: auto; position: absolute ; top: 2025px ; left: 203px ; transition: .2s linear;}
  .gallery a:nth-child(25) { width: 19%; height: auto; position: absolute ; top: 955px ; left: 137px ; transition: .2s linear;}
  .gallery a:nth-child(26) { width: 27%; height: auto; position: absolute ; top: 1580px ; left: 520px ; transition: .2s linear;}
  .gallery a:nth-child(27) { width: 18%; height: auto; position: absolute ; top: 810px ; left: 150px ; transition: .2s linear;}
  .gallery a:nth-child(28) { width: 21%; height: auto; position: absolute ; top:1970px ; left: 893px ; transition: .2s linear;}
  .gallery a:nth-child(29) { width: 17%;height: auto; position: absolute ; top: 653px ; left: 502px ; transition: .2s linear;}
  .gallery a:nth-child(30) { width: 19%; height: auto; position: absolute ; top: 1189px ; left: 555px ; transition: .2s linear;}
  .gallery a:nth-child(31) { width: 25%; height: auto; position: absolute ; top: 1333px ; left: 822px ; transition: .2s linear;}
  .gallery a:nth-child(32) { width: 15%; height: auto; position: absolute ; top: 1348px ; left: 343px ; transition: .2s linear;}
  .gallery a:nth-child(33) { width: 12%; height: auto; transition: .2s linear;
  
  }
  

  .gallery a:nth-child(1):hover { transform: scale(1.03); }
  .gallery a:nth-child(2):hover { transform: scale(1.03); }
  .gallery a:nth-child(3):hover { transform: scale(1.03); }
  .gallery a:nth-child(4):hover { transform: scale(1.03); }  
  .gallery a:nth-child(5):hover { transform: scale(1.03); }
  .gallery a:nth-child(6):hover { transform: scale(1.03); }
  .gallery a:nth-child(7):hover { transform: scale(1.03); }
  .gallery a:nth-child(8):hover { transform: scale(1.03); }
  .gallery a:nth-child(9):hover { transform: scale(1.03); }
  .gallery a:nth-child(10):hover { transform: scale(1.03); }
  .gallery a:nth-child(11):hover { transform: scale(1.03); }
  .gallery a:nth-child(12):hover { transform: scale(1.03); }
  .gallery a:nth-child(13):hover { transform: scale(1.03); }
  .gallery a:nth-child(14):hover { transform: scale(1.03); }
  .gallery a:nth-child(15):hover { transform: scale(1.03); }
  .gallery a:nth-child(16):hover { transform: scale(1.03); }
  .gallery a:nth-child(17):hover { transform: scale(1.03); }
  .gallery a:nth-child(18):hover { transform: scale(1.03); }
  .gallery a:nth-child(19):hover { transform: scale(1.03); }
  .gallery a:nth-child(20):hover { transform: scale(1.03); }
  .gallery a:nth-child(21):hover { transform: scale(1.03); }
  .gallery a:nth-child(22):hover { transform: scale(1.03); }
  .gallery a:nth-child(23):hover { transform: scale(1.03); }
  .gallery a:nth-child(24):hover { transform: scale(1.03); }
  .gallery a:nth-child(25):hover { transform: scale(1.03); }
  .gallery a:nth-child(26):hover { transform: scale(1.03); }
  .gallery a:nth-child(27):hover { transform: scale(1.03); }
  .gallery a:nth-child(28):hover { transform: scale(1.03); }
  .gallery a:nth-child(29):hover { transform: scale(1.03); }
  .gallery a:nth-child(30):hover { transform: scale(1.03); }
  .gallery a:nth-child(31):hover { transform: scale(1.03); }
  .gallery a:nth-child(32):hover { transform: scale(1.03); }
  .gallery a:nth-child(33):hover { transform: scale(1.03); }